# Sales Analysis
## Sales Charts
### Â© 2023 Tushar Aggarwal. All rights reserved.

In [1]:
pip install fpdf

Requirement already satisfied: fpdf in c:\users\tusha\appdata\roaming\python\python310\site-packages (1.7.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Importing required libraries
from datetime import date
from pathlib import Path
import sqlite3
import pandas as pd
import plotly.express as px
from fpdf import FPDF

In [3]:
## Defining chart style
plotly_template = "presentation"

In [8]:
## Defining paths

current_dir = Path(__file__).parent if "__file__" in locals() else Path.cwd()
database_path = current_dir / "sales.db"
output_dir = current_dir / "output"

# Creating the output directory and its parent directory if they do not exist
output_dir.mkdir(parents=True, exist_ok=True)

# Total Sales by Month

In [9]:
# Creating a connection to the database
conn = sqlite3.connect(database_path)

In [11]:
# Executing the query and loading results into a Pandas DataFrame
query = '''
SELECT sale_date, SUM(total_price) as total_sales
FROM sales
GROUP BY sale_date
ORDER BY sale_date ASC
'''
df = pd.read_sql_query(query, conn)
print(df)

      sale_date  total_sales
0    2022-01-01          890
1    2022-01-02          420
2    2022-01-03          465
3    2022-01-04          120
4    2022-01-05         1805
..          ...          ...
334  2022-12-27          500
335  2022-12-28          250
336  2022-12-29          525
337  2022-12-30          850
338  2022-12-31         1845

[339 rows x 2 columns]

In [12]:
# Checking the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sale_date    339 non-null    object
 1   total_sales  339 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

In [13]:
# Converting sale_date to datetime
df['sale_date'] = pd.to_datetime(df['sale_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sale_date    339 non-null    datetime64[ns]
 1   total_sales  339 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [14]:
# Setting the sale_date column as the index
df = df.set_index('sale_date')
df.head(3)

            total_sales
sale_date
2022-01-01          890
2022-01-02          420
2022-01-03          465

In [15]:
# Resampling the data to a monthly frequency and computing the sum
df_monthly = df.resample('M').sum()
df_monthly

            total_sales
sale_date
2022-01-31        27045
2022-02-28        21335
2022-03-31        24645
2022-04-30        13165
2022-05-31        23740
2022-06-30        23045
2022-07-31        26160
2022-08-31        26940
2022-09-30        24035
2022-10-31        19945
2022-11-30        21945
2022-12-31        24880